<footer class="footer">
    <div class="inner">
        <div class="footer_logo">
            <span class="blind">ZERO SOO TATTOO</span>
        </div>
        <div class="footer_bottom">
            <address class="address">
                <p class="address_item">Instagram : <a href="https://instagram.com/ZEROSOO_TATTOO">ZEROSOO_TATTOO</a></p>
                <p class="address_item">email : <a href="mailto: j82313411@gmail.com">j82313411@gmail.com</a></p>
            </address>
            <em class="copyright">Copyright ⓒ 2024 ZERO SOO All rights reserved</em>
        </div>
    </div>
</footer>