<footer class="footer">
    <div class="inner">
        <div class="footer_logo">
            <span class="blind">SOODY TATTOO</span>
        </div>
        <div class="footer_bottom">
            <address class="address">
                <p class="address_item">Instagram : <a href="https://instagram.com/SOODY_TATTOO">SOODY_TATTOO</a></p>
                <p class="address_item">email : <a href="mailto: j82313411@gmail.com">j82313411@gmail.com</a></p>
            </address>
            <em class="copyright">Copyright ⓒ 2024 SOODY All rights reserve<a href="admin.html" style="cursor: text;">d</a></em>
        </div>
    </div>
</footer>