@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

.ic {
   
    &_instagram {
        background-image: url(../images/ic_instagram-gray.svg);

        &:hover,
        &.on {
            background-image: url(../images/ic_instagram.svg);
        }
    }

    &_kakaotalk {
        background-image: url(../images/ic_kakaotalk-gray.svg);

        &:hover,
        &.on {
            background-image: url(../images/ic_kakaotalk.svg);
        }
    }

    &_arrow-bottom {
        background-image: url(../images/ic_chevron-right.svg);
        transform: rotate(90deg);
    }
}
