@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

.wrapper {
    width: 100%;
    color: $black;
    font-size: $fsz-normal;
    font-weight: 400;
    overflow-x: hidden;
}

.inner {
    @include inner;
}

.flex {
    position: relative;
    display: flex;

    &.fd-c {
        flex-direction: column;
    }

    &.jc-c {
        justify-content: center;
    }
    
    &.jc-sb {
        justify-content: space-between;
    }

    &.ai-c {
        align-items: center;
    }

    &.ai-fe {
        align-items: flex-end;
    }
}

.twin-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;

    &_item {
        flex-shrink: 1;
        width: 100%;
        height: 100%;

        @for $i from 1 through 5 {
            &.w#{$i * 10} {
                flex-shrink: 0;
                width: $i * 10%;
            }
        }
    }
}

.blind {
    @include blind;
}

.ellipsis {
    @include ellipsis(1);
}

[role="button"] {
    cursor: pointer;
}

.dot {
    position: relative;

    &::after {
        content: '.';
        color: $primary;
    }
}
