@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

.wrapper {
    width: 100%;
    color: $black;
    font-size: $fsz-normal;
    font-weight: 400;
    overflow-x: hidden;
}

.inner {
    @include inner;
}

.blind {
    @include blind;
}

.ellipsis {
    @include ellipsis(1);
}

.dot {
    position: relative;

    &::after {
        content: '.';
        color: $primary;
    }
}