@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

.main {
    position: relative;
    min-height: calc(100vh - 150px);

    .inner {
        
    }

    h2 {
        position: relative;
        font-family: 'Playfair Display', serif;
        font-size: 80px;
        font-weight: 400;
        line-height: normal;
    }

    .sns {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            .ic_instagram {
                background-image: url(../images/ic_instagram.svg);
            }
        }

        .ic_instagram {
            width: 24px;
            height: 24px;
            background-image: url(../images/ic_instagram-gray.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
}
