@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

.booking {

    .inner {
        @include inner;

        .para {
            color: $gray;
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .bg_txt {
            font-family: 'Playfair Display', serif;
            color: #f4f4f4;
            font-size: 120px;
            font-weight: 400;
            line-height: normal;
        }
    }

    &_top {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 220px 0 80px;
        gap: 24px;

        .btn.medium{
            width: 320px;
            margin-top: 20px;
        }
    }
    &_bottom {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 180px;
        background: $lightGray;

        .bg_txt {
            position: absolute;
            z-index: 1;
            top: 0.25em;
            left: 0.25em;
            user-select: none;
        }
    }

    &_form {
        position: relative;
        z-index: 2;
        max-width: 680px;
        width: 100%;
        padding: 80px 0;
        font-size: 18px;
    }

    .form {

        &_box {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &_item {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &.agree_submit {
                margin: 0 auto;
                padding-top: 30px;
                gap: 20px;

                .checkbox {
                    width: 210px;
                    margin: 0 auto;

                    label {
                        color: $black;
                    }
                }
            }
        }
        
        &_title {
            font-size: 16px;
            font-weight: 700;

            &.essential {
                position: relative;

                &::after {
                    content: '*';
                    margin-left: 2px;
                    color: $primary;
                }
            }

            span {
                font-weight: 400;
            }
        }
        
        &_content {
            display: flex;
            font-size: 16px;

            .radiobox {
                min-width: 80px;

                label {
                    color: $black;
                }
            }

            .textareabox {
                height: 214px;

                textarea {
                    resize: none;
                }
            }
        }
    }
}
