@use '../helpers/variables' as *;
@use '../helpers/mixin' as *;

.page {

    &_section {
        position: relative;
        z-index: 1;

        .inner {
            position: relative;
            z-index: 1;
        }

        .flex {
            margin-bottom: 40px;
        }

        .bg_txt {
            font-family: 'Playfair Display', serif;
            color: #f4f4f4;
            font-size: 120px;
            font-weight: 400;
            line-height: normal;

            &.dot {
                &::after {
                    color: inherit;
                }
            }
        }
    }

    &_visual {
        height: 100vh;

        .inner {
            height: 100%;
        }

        h2 {
            position: relative;
            z-index: 1;
            left: 1em;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            width: 7.5em;
            height: 100%;
            padding-bottom: 15vh;

            &::after {
                display: none;
            }

            span {
                display: inline-flex;
                width: 100%;
                font-family: inherit;

                &:nth-child(1) {
                    justify-content: flex-start;
                }
                &:nth-child(2) {
                    justify-content: flex-end;
                }
                &:nth-child(3) {
                    justify-content: center;
                }
            }
        }

        .bg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &_circle {
                position: absolute;
                width: 620px;
                height: 620px;
                background: $lightGray;
    
                &:first-child {
                    z-index: 0;
                    background: transparent;
                    border: 1px solid $primary;
                    transform: translate(-12%, -55px);
                    animation: visualLeftCircle 1s ease-out;
                }
    
                &:last-child {
                    z-index: 1;
                    transform: translate(55%, 55px);
                    animation: visualRightCircle 1s ease-out;
                }

                @keyframes visualLeftCircle {
                    from {transform: translate(-40%, -55px);}
                    to {transform: translate(-12%, -55px);}
                }
                @keyframes visualRightCircle {
                    from {transform: translate(85%, 55px);}
                    to {transform: translate(55%, 55px);}
                }
            }
        }
    }

    &_portfolio,
    &_design {
        position: relative;
        padding: 60px 0;

        .bg {

            &_circle {
                width: 1390px;
                height: 1390px;
                background: $lightGray;
            }
        }
    }

    &_portfolio {
        .bg_txt {
            position: absolute;
            bottom: 0;
            right: 60px;
        }
    }
    &_design {
        .bg_txt {
            position: absolute;
            bottom: 0;
            left: 60px;
        }
    }

    &_about {
        position: relative;
        padding-bottom: 120px;

        .twin-box {
            height: 400px;
        }

        .zerosoo {
            background: $grayDark;
        }

        .about_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 24px;
            gap: 20px;
            background: $lightGray;

            h4 {
                width: 172px;
                height: 25px;
                background-image: url(../images/zerosoo_about.png);
            }

            p {
                font-size: $fsz-large;
                line-height: 1.2;
            }

            .btn.medium {
                margin-top: auto;
            }
        }

        .bg_txt {
            position: absolute;
            z-index: 0;
            bottom: 0.5em;
            right: 1.5em;
        }
    } 
}

.bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    &_circle {
        display: inline-flex;
        border-radius: 50%;
    }
}
