{% extends "base.html" %} {% block content %}
    {% import '../templates/header.html' as nav %} {{nav.active('aftercare')}}
    <main class="main">
        <section class="aftercare">
            <div class="inner">
                <div class="aftercare_top">
                    <h2 class="dot">AFTERCARE</h2>
                    <p class="para">Taking care of your tattoo is really important.</p>
                    <a href="#" class="sns">
                        <i class="ic_instagram"></i>
                        <em>soody_tattoo</em>
                    </a>
                    <a href="#" class="btn medium">BOOKING APPOINTMENT</a>
                </div>
                <div class="aftercare_bottom">
                    <p class="bg_txt">AFTERCARE</p>
                     <div class="aftercare_info">
                        <p>It's extremely important to care for your new tattoo properly in the days after being tattooed. Please see below details, and reach out for more specific advice if you have any questions.</p>
                        <br>
                        <p>At the end of your session, your artist will cover your tattoo in one of two ways- a Derm Shield second skin bandage, or with a plastic wrap.</p>
                        <br>
                        <p>
                            <b>Derm Shield Aftercare</b>
                        </p>
                        <br>
                        <p>You can remove the Derm Shield after keeping it on for 2 days. Showering is okay with it on, but do not place hot water on the area directly-only cold or lukewarm water should be used near the area. Moisture captured under the shield is a natural part of the recovery process and does not mean that there is an issue. Remove the wrap slowly and gently rinse the area with cold water and fragrance-free soap. Pat dry the area and apply <b>a very thin layer of petroleum jelly</b> just to cover the area (Aquaphor is highly recommended). <b>Please make sure the skin is completely dry of water before applying petroleum jelly.</b> Continually apply a thin layer of Aquaphor multiple times a day to keep your tattoo hydrated, which will decrease the itchiness and peeling. This will allow the ink and details to heal underneath the skin. After 2-3 days of Aquaphor, you can switch out to fragrance free lotion to continue moisturizing.</p>
                        <br>
                        <p>
                            <b>Plastic Wrap Aftercare</b>
                        </p>
                        <br>
                        <p>The wrap should be taken off no more than 2 hours after your session. Before bed, wash the area using room temperature water and fragrance free soap. Depending on the tattoo, you may be instructed to rewrap your tattoo in plastic wrap before going to bed. If so, wrap the area right before bed and not too tight, and remove shortly after waking in the morning. When the wrap is off, proceed to moisturize the tattoo. Continually <b>apply a very thin layer of Aquaphor</b> multiple times a day to keep your tattoo hydrated, which will decrease the itchiness and peeling. This will allow the ink and details to heal underneath the skin. After 2-3 days of Aquaphor, you can switch out to fragrance free lotion to continue moisturizing.</p>
                        <br>
                        <p>
                            <b>Other Important Tips Regardless of How It's Covered</b>
                        </p>
                        <br>
                        <p>• If there is any <b>irritation or inflammation caused by the DermaShield</b>, please remove immediately and rinse before going to bed.</p>
                        <p>• Moisturize the tattoo for ~3 weeks after completion. A thin layer throughout the day is the best way. <b>Applying too much at once doesn't allow the skin to breathe and makes it difficult</b> to heal naturally.</p>
                        <p>• Reduce the intensity of any exercise routine for ~2 weeks. <b>Excessive sweating causes inflammation</b> within the body, causing the tattoo to open up and not heal properly. This also gives a higher chance for infections.</p>
                        <p>• Refrain from <b>swimming, beach water, and other water activities</b> for ~2 weeks to reduce the chances for infections.</p>
                        <p>• Avoid long exposures to <b>direct sunlight</b>, such as tanning, for about ~2-3 weeks, to avoid problems with drying out the tattoo which can cause damages to the quality of the artwork.</p>
                     </div>
                </div>
            </div>
        </section>
    </main>
    {% include '../templates/footer.html' %}
{% endblock %}