{% extends "base.html" %} {% block content %}
    {% import '../templates/header.html' as nav %} {{nav.active('')}}
    <main class="main">
        <div class="page">
            <section class="page_section page_visual">
                <div class="inner">
                    <h2>
                        <span>ARTIST</span>
                        <span>ZERO SOO</span>
                        <span class="dot">TATTOO</span>
                    </h2>
                    <div class="bg">
                        <span class="bg_circle">
                            <span class="blind">테두리만 있는 원</span>
                        </span>
                        <span class="bg_circle">
                            <span class="blind">회색 원</span>
                        </span>
                    </div>
                </div>
            </section>
            <section class="page_section page_portfolio">
                <div class="inner">
                    <div class="flex ai-c jc-sb">
                        <h2 class="dot">PORTFOLIO</h2>
                        <a href="portfolio.html" class="btn_more">
                            <span>more</span>
                        </a>
                    </div>
                    <ul class="img-card_list">
                        <li class="img-card_item" role="button">
                            <a href="portfolio.html" class="img-card_link">
                                <img src="./assets/images/portfolio01.png" alt="">
                            </a>
                        </li>
                        <li class="img-card_item" role="button">
                            <a href="portfolio.html" class="img-card_link">
                                <img src="./assets/images/portfolio02.png" alt="">
                            </a>
                        </li>
                        <li class="img-card_item" role="button">
                            <a href="portfolio.html" class="img-card_link">
                                <img src="./assets/images/portfolio03.png" alt="">
                            </a>
                        </li>
                        <li class="img-card_item" role="button">
                            <a href="portfolio.html" class="img-card_link">
                                <img src="./assets/images/portfolio04.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bg">
                    <span class="bg_circle">
                        <span class="blind">회색 원</span>
                    </span>
                </div>
                <p class="bg_txt dot">PORTFOLIO</p>
            </section>
            <section class="page_section page_design">
                <div class="inner">
                    <div class="flex ai-c jc-sb">
                        <h2 class="dot">DESIGN</h2>
                        <a href="design.html" class="btn_more">
                            <span>more</span>
                        </a>
                    </div>
                    <ul class="img-card_list">
                        <li class="img-card_item" role="button">
                            <a href="design.html" class="img-card_link">
                                <img src="./assets/images/design01.png" alt="">
                            </a>
                        </li>
                        <li class="img-card_item" role="button">
                            <a href="design.html" class="img-card_link">
                                <img src="./assets/images/design02.png" alt="">
                            </a>
                        </li>
                        <li class="img-card_item" role="button">
                            <a href="design.html" class="img-card_link">
                                <img src="./assets/images/design03.png" alt="">
                            </a>
                        </li>
                        <li class="img-card_item" role="button">
                            <a href="design.html" class="img-card_link">
                                <img src="./assets/images/design04.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="bg_txt dot">DESIGN</p>
            </section>
            <section class="page_section page_about">
                <div class="inner">
                    <div class="flex ai-c">
                        <h2 class="dot">MEET THE ARTIST</h2>
                    </div>
                    <div class="twin-box">
                        <div class="twin-box_item w40 zerosoo">

                        </div>
                        <div class="twin-box_item about_box">
                            <h4>
                                <span class="blind">zero soo</span>
                            </h4>
                            <a href="#" class="sns">
                                <i class="ic_instagram"></i>
                                <em>zerosoo_tattoo</em>
                            </a>
                            <p>Zero SOO is a versatile talent whose strengths include fashion tattoos and small, delicate motifs.</p>
                            <p>In addition to these skills, he has also discovered colorful, realistic motifs and is happy about every customer he can inspire with such a motif.</p>
                            <a href="#" class="btn medium">BOOKING APPOINTMENT</a>
                        </div>
                    </div>
                </div>
                <p class="bg_txt dot">MEET THE ARTIST</p>
            </section>
        </div>
    </main>
    {% include '../templates/footer.html' %}
    <script>
        style.visualAnimation()
    </script>
{% endblock %}