{% extends "base.html" %} {% block content %}
    {% import '../templates/header.html' as nav %} {{nav.active('')}}
    <main class="main">
        <div class="page">
            <section class="page_section page_visual">
                <div class="inner">
                    <h2>
                        <span>ARTIST</span>
                        <span>ZERO SOO</span>
                        <span class="dot">TATTOO</span>
                    </h2>
                    <div class="bg">
                        <span class="bg_circle">
                            <span class="blind">테두리만 있는 원</span>
                        </span>
                        <span class="bg_circle">
                            <span class="blind">회색 원</span>
                        </span>
                    </div>
                </div>
            </section>
            <section class="page_section page_portfolio">
                <div class="inner">
                    <h2 class="dot">PORTFOLIO</h2>
                </div>
            </section>
            <section class="page_section page_design">
                <div class="inner">
                    <h2 class="dot">DESIGN</h2>
                </div>
            </section>
            <section class="page_section page_about">
                <div class="inner">
                    <h2 class="dot">MEET THE ARTIST</h2>
                </div>
            </section>
        </div>
    </main>
    {% include '../templates/footer.html' %}
    <script>
        style.visualAnimation()
    </script>
{% endblock %}