{% extends "base.html" %} {% block content %}
    {% import '../templates/header.html' as nav %} {{nav.active('policies')}}
    <main class="main">
        <section class="policies">
            <div class="inner">
                <div class="policies_top">
                    <h2 class="dot">POLICIES</h2>
                    <p class="para">Please read it once. thank you</p>
                    <a href="#" class="sns">
                        <i class="ic_instagram"></i>
                        <em>zerosoo_tattoo</em>
                    </a>
                    <a href="#" class="btn medium">BOOKING APPOINTMENT</a>
                </div>
                <div class="policies_bottom">
                    <p class="bg_txt">POLICIES</p>
                    <div class="policies_info">
                        <p>
                            <b>I try to keep my policies simple so I can focus solely on the arts. However, we must have policies in place to ensure fair treatment for all customers. To ensure fair treatment for all customers.</b>
                        </p>
                        <br>
                        <p>
                            <b>Scheduling and Appointments</b>
                        </p>
                        <p>• We book appointments for up to 6 months in advance.</p>
                        <p>• Appointments are not secured and confirmed until deposit is made.</p>
                        <p>• If there is a need to reschedule, please contact us at least 4 business days in advance. Rescheduling within 3 days to the appointment date will result in the forfeiture of your deposit.</p>
                        <p>• Rescheduling more than twice will lead to the loss of your deposit and the requirement to make a new deposit.</p>
                        <br>
                        <p>
                            <b>Billing Practices</b>
                        </p>
                        <br>
                        <p>• Minimum cost differs per artist. Rates will vary depending on the artist, size, design, and etc.</p>
                        <p>• In the consultation process, you will receive a quote. This is subject to change based on the final design and size chosen.</p>
                        <p>• A non-refundable deposit is required to secure your appointment, and is taken out of the total cost of your tattoo.</p>
                        <p>• Remaining balance is to be paid at the end of the session in the studio.</p>
                        <p>• Major changes to the design will change the price quoted in the beginning of the inquiry.</p>
                        <p>• Only payments that are acceptable are cash, credit cards, Venmo, and Zelle. There is an additional 3% fee to all card transactions and Venmo transactions.</p>
                        <br>
                        <p>
                            <b>Tattoo Risks</b>
                        </p>
                        <br>
                        <p>• We take every precaution to keep our clients safe, but there are inherent risks associated with getting a tattoo</p>
                        <p>• Medical issues are not common, but can occur. These may include allergic reactions, infections, and inflammation. We take every possible precaution to keep you safe, but aftercare instructions must be followed to reduce any issues after the completion of your tattoo.</p>
                        <br>
                        <p>
                            <b>Studio Hygiene</b>
                        </p>
                        <br>
                        <p>• We take hygiene very seriously at our studio and are committed to meeting all industry standards.<br>Single-use supplies are provided to each artist at their workstation.</p>
                        <p>• Materials in the studio are wrapped, easy to wash and disinfect, and/or disposable.</p>
                        <p>• Workstations are given proper spacing between one another for safety.</p>
                        <p>• Surfaces in the area of the actual tattooing will be covered in a single-use barrier to further reduce the risk of infection.</p>
                        <p>• Clients are required to agree to a declaration of consent prior to their tattoo session.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include '../templates/footer.html' %}
{% endblock %}