// color
$white : #fff;
$lightGray : #f9f9f9;
$offWhite : #f3f3f3;

$black : #191919;

$gray : #9d9d9d;
$grayDark : #797979;
$grayLight : #c4c4c4;

$primary : #FF7A7A;
$primaryLight : #FFBABA;

// fontSize
$fsz-title: 36px;
$fsz-large: 24px;
$fsz-medium: 18px;
$fsz-normal: 16px;
$fsz-small: 14px;
$fsz-tiny: 12px;

// response
$desktop : 1920px;
$laptap : 1440px;
$tablet-l : 1024px;
$tablet-s : 768px;
$mobile : 480px;
